<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="OracleCS" connectionString="DATA SOURCE=//192.168.10.51:1521/XEPDB1; PASSWORD=hN2Q1afmHoaM_#;PERSIST SECURITY INFO=True;USER ID=DEV;" providerName="Oracle.DataAccess.Client" />
  </connectionStrings>
</configuration>
